<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MONGOOSE EDIT!!!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/mongooses/new">Create a Mongoose!</a></li>
    </ul>
    <h1>Editing Mongoose: <%= mongoose.name %></h1>
    <form action="/mongooses/<%= mongoose._id %>" method="post"> 
        New Name? <input type="text" name="new_name" value="<%= mongoose.name %>"> <br>
        New Length? <input type="number" name="new_length" value="<%= mongoose.length %>"> <br>
        New Gender? <select name="new_gender" vale="<%= mongoose.gender %>">
                        <% if(mongoose.gender === 'male'){ %>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        <% } else{ %>
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                        <% } %>
                    </select> <br>
        New Age? <input type="number" name="new_age" value="<%= mongoose.age %>"> <br>
        <input type="submit" value="Submit Changes">
    </form>
</body>
</html>