<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MONGOOSE!!!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h3>
        Name: <%= mongoose.name %> <br>
        Length: <%= mongoose.length %> <br>
        Gender: <%= mongoose.gender %> <br>
        Age: <%= mongoose.age %>
    </h3>
    <a href="/mongooses/<%= mongoose._id %>/edit"><button>Edit Mongoose</button></a>
    <a href="/mongooses/<%= mongoose._id %>/destroy"><button>Destroy Mongoose</button></a>
</body>
</html>